
html{
box-sizing: border-box;
font-family: karla;
font-size: 16px;
font-weight: 400;
}

body{
background-color: #e0e0e0;
padding: 40px;
}

h4, h2, p{
margin: 0;
}

*, *:before, *:after {
box-sizing: inherit;
}

.price-card{
width: 700px;
height: 480px;
border-radius: 5px;
box-shadow: 0px 0px 6px 1px rgba(43, 180, 177,0.3);
overflow: hidden;
}
#top-section{
background: #ffffff;
width: 100%;
height: 45%;
border-radius: 5px;
padding: 30px 30px 30px 30px;
}

#bottom-section{
width: 100%;
height: 55%;
display: flex;
}
#price-section{
background: #2BB4B1;
height: 100%;
}
#details-section{
background: #49BEBD;
height: 100%;
}

#price-section, #details-section{
flex: 50;
padding: 30px 0px 0px 30px;
}

/*all-section styling of inner element*/
.card-heading{
color: #2BB4B1;
margin-bottom: 25px;
}
#top-section h4{
color: #c0df34;
margin-bottom: 15px;
}
#top-section p{
color: #9f9f9f;
}
.price-heading, #price, #price-tag, #price-terms{
color: #ffffff;
margin-bottom: 20px;
}
#details-section{
color: #ffffff;
}

#price{
font-weight: 700;
font-size: 1.5em;
}

#price-tag{
position: relative;
top: 7px;
font-size: 0.8em;
opacity: 0.8;
}

.price-details{
display:flex;
justify-content: flex-start;
gap: 10px;
}

#price-terms {
font-size: 15px;
}

.price-card-button{
background-color:#c0df34;
border: none;
padding: 12px 120px 12px 120px;
border-radius: 5px;
box-shadow: 1px 0px 6px -5px rgba(0,0,0,0.49);
margin-top: 35px;
font-weight: 700;
color: #ffffff;
transition: transform 0.3s ease-in-out;
}

button:hover {
cursor: pointer;
background-color:#acce00;
transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0px;
}
li{
margin-top: 5px;
opacity: 0.8;
font-size: 0.9em;
}
